@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body{
	
	color: #505978;
  background-image: url('backpicture.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}


h1.shweta {
  font-size: 40px;
  margin: 20px;
  padding: 15px;
  line-height: 1;
  font-weight: 800;
  color:orange;
  font-family: "Poppins", sans-serif;
}


h2 {
  font-size: 30px;
  color:#800033;
  margin: 20px;
  padding: 20px;
  line-height: 1;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.journey {
	font-size: 20px;
  margin: 5px;
  padding: 10px;
  line-height: 1;
  font-weight: 400;
  color: black;
  font-family:  'Montserrat', sans-serif;
  
}


ul li a{
	display: block;
	color: #505978;
}

.navbar{
	width: 100%;
	margin: 0px auto;
	height: 60px;
	background: white;
	padding: 0 50px;
	border-radius: 3px;
	position:fixed;
}


ul.menu,
ul.social_items{
	display: flex;
}

.navbar ul.menu a{
	margin: 0 5px;
	width: 120px;
	padding: 12px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.2s ease;
}

.navbar .logo{
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 2px;
}

.navbar .logo span{
	color: orange;
}


.a1{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.navbar.a1 ul.menu a{
	border-radius: 25px;
}

.navbar.a1 ul.menu a:hover,
.navbar.a1 ul.menu a.active{
	background: #505978;
	color: #fff;
}

.navbar.a1 ul.social_items a{
	margin: 0 5px;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 25px;
	transition: all 0.2 ease;
}

.navbar.a1 ul.social_items a:hover{
	background: #505978;
	color: #fff;
}

.screen{
	
	padding:52px 0;
	
	text-align:center;
	  line-height: 1;
  font-weight: 1000;
  color:black;
  display:none
}

.inner{
	max-width:800px;
	margin:auto;
	overflow: hidden;
	padding:0 20px;
	
}

.line{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col{
	
	flex:50%;
	max-width:50%;
	box-sizing:border-box;
	padding:20px;
	align:center;
	
}


.testimon  {
	
	background: white;
	padding:30px;
	
}

.testimon img {
	width:100px;
	height:100px;
	border-radius: 50%;
}

.name{
	margin:10px;
}

p{
	font-family:Comic Sans MS;
}

.move {
	
	margin: 4px 10px;
	width: 100%;
	padding: 15px;
	
	
}

h1.title{
		
	text-align:center;
	margin-bottom:10px;
	color:green;
}

.about {
	padding : 5% 10%;
	color:black;

	margin-bottom:20px;
}

.ttt{
		 background: #221f1f73;
	 opacity: 0.7;
	color: white;
}


.bt{
	background:black;
	display:block;
	width:180px;
	height:30px;
	border: 3px solid green;
	line-height:30px;
	margin:25px auto 0;
	color:green;
	text-align:center;
	font-weight:bold;
}
.resume{
	padding : 5% 10%;
	color:black;

	margin-bottom:20px;
	text-align:center;
	
}
.contact{
	
	padding : 5% 10%;
	color:black;

	margin-bottom:20px;
	text-align:center;
}

contact.a{
	color:black;
}

h1.title{
	
	margin-bottom:20px;
	color:green;
}

.headd{
	text-align:center;
	margin-bottom:10px;
	color:#800033;
	font-weight:bold;
	 font-size: 30px;
}

.col{
	 font-size: 20px;
	color:black;
	text-align:left;
}

.back{
	 background: #221f1f73;
	 opacity: 0.7;
	color: white;
}